<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <title>PhotoBook</title>
</head>
<body th:object="${photo}">
	<header th:replace="~{frag :: header()}"></header>
	
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center mt-5">
			
				<div class="card mb-3 bg-dark text-white" style="max-width: 900px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="*{imageUrl}" class="img-fluid rounded-start" th:alt="*{title}">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body ps-4">
				        <h5 class="card-title mb-5 fs-2">[[*{title}]] #[[*{id}]]</h5>
				        <p class="card-text"><b>Description:</b><br> [[*{description}]]</p>
				        <p class="card-text"><b>Visibility:</b><br> [[*{visible}]]</p>
				        <p class="card-text"><b>Categories:</b><br> [[*{categories}]]</p>				        
				        <p class="card-text"><small class="text-muted"><b>Tag:</b> #[[*{tag}]]</small></p>
				        
				        <p class="card-text" th:if="${!comments.isEmpty()}">
				        	<b>Comments:</b><br>
				        	<ul>
								<li th:each="comment : ${comments}" th:object="${comment}">[[*{text}]]</li>
							 </ul>
				        </p>
				        
				        <div class="mt-5">
				        	<a th:href="@{/admin/photo/edit/{id}(id=${photo.id})}" class="btn btn-sm btn-primary mb-1">Edit</a>
							<a th:href="@{/admin/photo/delete/{id}(id=${photo.id})}" class="btn btn-sm btn-danger mb-1">Remove</a>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>

			</div>
		</div>		
	</div>
    
    <!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>